.home-titulo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #FAFAFA;
}

#titulo {
  color: #6A6A6A;
  font-weight: bold;

  margin-left: 2%;
  margin-top: 30px;
  flex: 1;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
}

.home-titulo-cont {
  flex: 2;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.home-titulo-exemplo {
  margin-top: 25px;
  width: 350px;

  color: #6A6A6A;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.home-titulo-exemplo > span {
  margin-top: 10px;
}

.home-titulo-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 612px) { 
  .home-titulo-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
