.imagem-compartimento {
  margin: 20px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#input-upload-image {
  padding: 10px 15px;
  background-color: #EEEEEE;
  color: #6A6A6A;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#input-upload-image > *:hover {
  cursor: pointer;
}