.entrada-compartimento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  flex: 1;
  margin-bottom: 15px;
}

.entrada-senha {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#text-area {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  resize: none;
  font-size: 16px;
}

.loading-texto {
  animation: roda 2s linear forwards infinite;
}

@keyframes roda {
  from{transform: rotate(0deg)}
  to{transform: rotate(360deg)}
}