.entrada-compartimento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  margin-top: 20px;
  margin-bottom: 15px;

}

.entrada-senha {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.loading-texto {
  animation: roda 2s linear forwards infinite;
}

@keyframes roda {
  from{transform: rotate(0deg)}
  to{transform: rotate(360deg)}
}