.tudo-compartimento {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
}

.senha-compartimento {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-compartimento {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin: 0px 2%;
  margin-top: 20px;
}

.entrada-compartimento > button {
  margin-top: 10px;
}