.tudo-compartimento {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px 2%;
}

.senha-compartimento {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-compartimento {
  flex: 3;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 8px 2%;
}

.entrada-compartimento > button {
  margin-top: 10px;
}