.senha-compartimento {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meuBotao-desbloquear {
  padding: 10px 15px;
  background-color: #EEEEEE;
  color: #6A6A6A;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.meuBotao-desbloquear > p {
  margin-left: 3px;
}

.meuBotao-desbloquear:hover {
  animation: pulse 2s ease-in-out forwards infinite;
}

/*.rotate {
  animation: rotate 2s linear forwards infinite;
}

@keyframes rotate {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}*/