.home-desenvolvedor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #FAFAFA;

  animation: zoomIn 1s ease-out forwards;
}

#titulo-desenvolvedor {
  color: #6A6A6A;
  font-weight: bold;
  font-size: 50px;
  font-family: 'Offside', cursive;

  margin-left: 2%;
  margin-top: 30px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
  flex: 1;
}

.conteudo-desenvolvedor {
  flex: 3;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.conteudo-desenvolvedor > span {
  font-family: 'Offside', cursive;
  margin-top: 20px;
}

.voltar-desenvolvedor {
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-right: 5%;
  margin-bottom: 15px;
}

.voltar-desenvolvedor > span {
  cursor: pointer;
  font-size: 15px;
  color: #6A6A6A;
  font-weight: bold;

  border: solid #6E6E6E;
  border-width: 0px 0px 1px 0px;
}

@media screen and (max-width: 612px) { 
  #titulo-desenvolvedor {
    font-size: 40px;
  }
}